<div class="header">

    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <div class="menu">
        <a href="/" id="item-home">Section #1</a>
        <a href="/projects" id="item-projects">Section #1</a>
        <a href="/about" id="item-about">Section #1</a>
        <a href="/avi" id="item-avi">Section #1</a>
        <a href="/articles" id="item-atricles">Section #1</a>
        <a href="/contact" id="item-contact">Section #1</a>
      <!--   <p>Section #1</p>
        <p>Section #2</p>
        <p>Section #3</p>
        <p>Section #3</p>
        <p>Section #3</p> -->
      </div>
      <div class="menu__toggler"><span></span></div>
        <a class="pure-menu-heading" href="">Your Site</a>

        <!-- <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul> -->
    </div>
</div>
